.button {
  -fx-background-color:
        linear-gradient(#007bff, #0066FF),
        linear-gradient(#0090ff, #0082e6),
        linear-gradient(#0095e6, #0074cd),
        linear-gradient(#007bff 0%, #0066FF 50%, #0074cd 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
  -fx-text-fill: white;
  -fx-font-size: 12px;
  -fx-color: FFB6C1;
  -fx-background-radius: 10;
  -fx-background-insets: 0,1,2,3,0;
  -fx-padding: 2 5 3 5;
}

.combo-box {
  -fx-background-color:
        linear-gradient(#007bff, #0066FF),
        linear-gradient(#0090ff, #0082e6),
        linear-gradient(#0095e6, #0074cd),
        linear-gradient(#007bff 0%, #0066FF 50%, #0074cd 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
  -fx-font-size: 12px;
  -fx-text-fill: white;
  -fx-background-radius: 10;
  -fx-font-weight: bold;
  -fx-padding: 2 5 3 5;
}
